* {
    display: grid;
}
img {
    width: 100%;
    /* object-fit: none; */
}

.image-container {
    width:100%;
    /* overflow: hidden; */
}

header {
    justify-content: center;
}

nav ul {
    display:flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color:black;
}

nav a:hover {
    font-weight: bolder;
    text-decoration: none;
    color: black;
}