* {
    display: flexbox;
    align-items: center;
}
img {
    width: 100%;
    /* object-fit: none; */
}

.image-container {
    width:100%;
    /* overflow: hidden; */
}

.image-container-6nations {
    
    justify-content: center;
}

header {
    justify-content: center;
}

nav ul {
    display:flex;
    justify-content: space-around;
    list-style: none;
}

nav a {
    text-decoration: none;
    color:black;
}

nav a:hover {
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}