* {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

html {
    background-color: beige;
}
title {
    display:none;
}

.image-container {
    width:100%;
    height: 50%;
    overflow: hidden;
    
}

.image-container-miami {
    width: 50%;
    margin-left:25%;
    margin-right:25%;
}

.image-container-6nations {
    justify-content: center;
    
}

header {
    justify-content: center;
}

nav ul {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

nav a {
    text-decoration: none;
    color:black;
}

nav a:hover {
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

body {
    display:flex;
    flex-direction: column;
    background-color: beige;
}

main {
    display:flex;
    flex-direction: column;
}

h3 {
    display:flex;
}

p {
    display:flex;
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
}

li a {
    text-decoration: none;
    color:black;
    margin-bottom: 1em;
    align-items: left;
}

li a:hover {
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

.sources {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    align-items: start;
}

.homepage {
    overflow: hidden;
}

.home {
    width: 90%;
}